.blueishLinearGrad {
  text-transform: uppercase;
  background: linear-gradient(to right, #35a1e9 0%, #1f31d3 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ratingNumber {
  color: rgb(233, 211, 13);
  font-size: 20px;
  font-weight: bold;
}

.noBullets li {
  list-style: none;
}
.linkNavigationHeader {
  font-size: 1.2rem;
}
.linkNavigationHeader:hover {
  color: rgb(175, 68, 152);
}
.v-application a {
  color: #000;
}
